body {
    text-shadow:1px 1px 2px black;
    background-color:#ffce29;
    color:antiquewhite;
    background-image:url("https://jlaw21.github.io/Resources/mario.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
    background-attachment:fixed;
    font-size:100%;
}
header {
    background-color:rgb(255,57,57);
    background-image:url("https://jlaw21.github.io/Resources/mario-pipe.png");
    font-family:'Press Start 2P', cursive;
}
section {
    background-color:teal;
}
section header {
    color:#00ce00;
}
aside {
    background-color:#007b4a;
}
footer {
    background-color:rgb(255,57,57);
}
nav {
    background-color:#007b4a;
    background-image:url("https://jlaw21.github.io/Resources/mario-pipe.png");
    background-size:contain;
    background-position:center bottom;
    height:50px;
    border-image:
}
h3 {
    color:#00deff;
    font-size:1.4em;
    font-style:oblique;
}
a {
    color:#3333ff;
    text-decoration:none
}
p, li {
    font:small-caps 2em 'VT323', monospace;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
nav li {
    float:left;
}
nav li a {
    display:block;
    text-align:center;
    padding:16px;
}
p {
    line-height:2em;
    text-shadow:1px 1px 2px black;
    letter-spacing:0.1em;
    word-spacing:0.1em;
    text-align:justify
}
h1 {
    text-align:center;
    text-shadow:10px 10px 2px brown;
}